.git
.github
.vs
.idea
.vscode
**/node_modules
**/dist
**/.angular
**/bin
**/obj
**/TestResults
**/coverage
**/App_Data
data
artifacts
*.bak
*.user
*.suo
.env
.env.*
!.env.example
**/secrets.json
**/appsettings.Local.json
**/appsettings.Development.json
npm-debug.log*
Dockerfile*
!Dockerfile
